@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

body{
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-user-infos{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-image{
  width: 15%;
  min-width: 125px;
  max-width: 168px;
  border-radius: 10%;
}

.text-user-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  line-height: 29px;
}

.text-user-infos h1{
  /* font-size: 1.9vw; */
  font-size: clamp(0.9rem, 1.9vw, 1.5rem);
  color: #4E5150;
}

.text-user-infos h3{
  font-size: clamp(1rem, 1.9vw, 1.5rem);
  font-size: 0.8rem;
  color: #A9A9A9;
}

.user-social-infos{
  width: 31%;
  min-width: 258px;
  max-width: 345px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
}

.component-social-infos{
  max-width: 100px;
  width: 28.6%;
  min-width: 78px;
  padding: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #E5E5E5;
  border-radius: 12px;
}

.container-text-social{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-social-infos h1{
  font-size: clamp(0.75rem, 1.4vw, 1.125rem);
  font-weight: bold;
  color: #4E5150;
}

.component-social-infos p{
  font-size: clamp(0.75rem, 1.1vw, 0.875rem);
  font-weight: bold;
  color: #BDBDBD;
}

.container-posts{
  max-width: 1000px;
  width: 78vw;
  min-width: ;
  margin: 30px 0  0  0 ;
  display: flex;
  flex-direction: column;
}

.container-posts img{
  border-radius: 1vw;
  display: block;
}

.two-images{
  display: flex;
  align-items: flex-start;
}

.align-grid{
  display: flex;
}

.tree-images{
  display: flex;
  flex-direction: column;
}

.tree-images div{
  display: flex;
}

#image1, #image2, #image3, #image5, #image6{
  max-height: 304.75px;
  height: 23vw;
  margin: 10px;
}

#image4{
  align-self: inherit;
  height: 48vw;
  max-height: 640px;
  border-radius: 2.2vw;
  margin: 10px;
  display: block;
}

@media only screen and (max-width: 650px){
  .container-posts{
    margin: 0;
    margin-top: 30px;
    width: 95vw;
  }

  #image1, #image2, #image3, #image5, #image6{
    height: 29vw;
    margin: 1vw;
  }

  #image4{
    position: absolute;
    align-self: inherit;
    height: 60.45vw;
    margin: 1vw;
  }
}